:root{
    --mainText: #fffafa;
    --secondaryText: #fffafa;

    --mainColor:#1d2d50;
    --secondaryColor: #17a2b8; 

    --mainIntroColor: #070641;
    --mainIntroSecondaryColor: #17a2b8;

    --borderColor: #065c6f;
     
    --bottonColor:#10ead6;
    --bottonSecondaryColor: #66bfbf;
}
html, Body{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
h1{ font-size:56px;}
h2{ font-size:36px;}
h3{ font-size:28px;}
h4{ font-size:24px;}
h5{ font-size:20px;}
h6{ font-size:16px;}
a{
    text-decoration:none;
    color:#1f1cc5;
}
p,li,label,input,textarea{
    color: var(--mainText);
}
  
.section-1{
    background-color: var(--mainIntroColor);
    border-bottom: 1px solid var(--borderColor);  
    overflow:auto;
}
.section-2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.main-container{
    width: 1200px;
    margin: 40px auto;
}

.intro-pack{
  /*  background-color: var(--mainIntroColor);*/
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.75);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 33em;
    grid-template-areas:
                    'navbar-pack navbar-pack'
                    'left-column right-column'; 
}
.navbar-pack{
    grid-area: navbar-pack;
    border-bottom: 1px solid var(--borderColor);
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainIntroSecondaryColor);
}
.dots-pack{
    display: flex;
    padding: 10px;
}
#dot-1{ background-color: red; }
#dot-2{ background-color: yellow; }
#dot-3{ background-color: green; }

.browser-dot{
    background-color:black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -19px 14px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 14px 21px -4px rgba(0,0,0,0.75);
     box-shadow: -19px 14px 21px -4px rgba(0,0,0,0.75);
}

#navigation{
    margin:0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    font-size: large;
}

.left-column{
    grid-area: left-column;
    display: grid;
    align-content: center;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left-container{
    width: 60%;
    background-color: #17a2b8;
    display: grid;
    align-content: center;
    justify-items: center;
    padding-top: 30px;
   /* padding-bottom: 30px;*/
}
#profile_pic{
    display:block; 
    height:200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(5, 58, 59);
    object-fit:cover;
    border: 1px solid var(--borderColor);
    margin-bottom: 20px;
}
#social-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}
.fa{
    padding: 10px;
}
.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.btn{
    margin-top:20px;
    width: 30%;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: var(--bottonColor);
    border-radius: 20px;

}
.btn:hover{
    background-color: var(--bottonSecondaryColor);
}


/*css aboutme  */
.about-pack{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}
#skills{
    display: flex;
    justify-content: space-evenly;
}
.social-links{
    display: grid;
    align-content: center;
    text-align: center;
} 
#about-photo{
    width: 100%;
}
/* portfolio css */
.post-pack{
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    gap:40px;
    justify-content: center;
    padding-bottom: 50px;
}
.post{
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 0px 1px 4px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 9px rgba(0,0,0,0.75);
}
.thumbnail{
    display:block;
    width:100%;
    height:180px;
    object-fit: cover;
}
.post-preview{
    background-color:#fff;
    padding:15px;
}
.post-title{
    color: black;
    margin:0;
}
.post-intro{
    color: #4b5136;
    font-size: 14px;
}
/*css contact*/
#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}
.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}
#contact-form label{
    line-height: 2.7em;
}
#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}
#submit-btn{
    margin-top: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    color: #fffeef;
    background-color: var(--bottonColor);
    border: none;
}
@media screen and (max-width: 1200px){
    .main-container{
        width:95%;
    }
}
@media screen and (max-width: 800px){
    .intro-pack{
        grid-template-columns: 1fr;
        grid-template-areas: 
                    'navbar-pack'
                    'left-column'
                    'right-column'
                    ;
        
    }
    .left-container{
        width: 90%;
    }
    .right-column{
        justify-content: center;
    }
   
    .greeting-pack{
        display:grid;
        min-height: 5em;
        text-align:center;
        justify-items: center;
        margin:10px;
    }
}
#idFooter{
    text-align: center;
    background-color: var(--mainColor);
    color: white;
} 
